
form {
	display: flex;
	flex-direction: column;
	width: 400px;
  padding: 50px;
  background: #ccc;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
input{
	margin: 10px 0;
	padding: 10px;
	border-bottom: 2px solid #e3e3e3;
	outline: none;
}
button{
	padding: 10px;
	background: #e3e3e3;
	border: unset;
	cursor: pointer;
}