<hr></hr>
<div class="col-md-6 contact-info">
   <h2 class="section-title">Контактная информация</h2>
        <ul class="info-list">
            <li>Адрес: <span>20124 город Gorod улица Школа</span> </li>
            <li>Телефон директора: <span>+72156790132</span> </li>
            <li>Email : <span>school1257@scmail.ru</span> </li>
        </ul>
</div>