<br></br>
 <div class="row mb-2">
    <div class="col-md-6">
 
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive"width="200" height="250" src="https://cdn.pixabay.com/photo/2016/03/27/17/42/man-1283235_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Директор</strong>
          <h3 class="mb-0">Николаев Н.Н.</h3>
          <div class="mb-1 text-muted">Стаж: 30 лет</div>
          <p class="card-text mb-auto">Контактный номер: +74216129412</p>
          <p class="card-text mb-auto">Кабинет N21</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2019/06/29/04/36/counselor-4305394_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Завуч</strong>
          <h3 class="mb-0">Александров А.А.</h3>
          <div class="mb-1 text-muted">Стаж: 25 лет</div>
          <p class="mb-auto">Контактный номер: +74216129442</p>
          <p class="card-text mb-auto">Кабинет N23</p>
        </div>
      </div>
    </div>
    <br></br>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2016/03/02/10/34/allrounder-1232060_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Учитель Истории</strong>
          <h3 class="mb-0">Алексеев А.А.</h3>
          <div class="mb-1 text-muted">Стаж: 20 лет</div>
          <p class="mb-auto">Контактный номер: +74216129152</p>
          <p class="card-text mb-auto">Кабинет N15</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2020/08/18/18/46/chemistry-teacher-5499052_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Учитель Химии</strong>
          <h3 class="mb-0">Романова А.Р.</h3>
          <div class="mb-1 text-muted">Стаж: 10 лет</div>
          <p class="mb-auto">Контактный номер: +71526129152</p>
          <p class="card-text mb-auto">Кабинет N10</p>
        </div>
      </div>
    </div>
    <br></br>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2015/08/27/11/13/birger-kollmeier-910261_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Учитель Математики</strong>
          <h3 class="mb-0">Дмитриев Д.Р.</h3>
          <div class="mb-1 text-muted">Стаж: 20 лет</div>
          <p class="mb-auto">Контактный номер: +79026129152</p>
          <p class="card-text mb-auto">Кабинет N7</p>
        </div>
      </div>
    </div><div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2016/09/26/18/46/board-1696700_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Учитель Английского языка</strong>
          <h3 class="mb-0">Евгеньев Е.А.</h3>
          <div class="mb-1 text-muted">Стаж: 12 лет</div>
          <p class="mb-auto">Контактный номер: +79919942651</p>
          <p class="card-text mb-auto">Кабинет N8</p>
        </div>
      </div>
    </div>
    <br></br>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2017/05/20/00/26/professor-2327957_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Учитель Обществознания</strong>
          <h3 class="mb-0">Эдуардов О.Н.</h3>
          <div class="mb-1 text-muted">Стаж: 20 лет</div>
          <p class="mb-auto">Контактный номер: +72129942642</p>
          <p class="card-text mb-auto">Кабинет N14</p>
        </div>
      </div>
    </div><div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2020/08/18/19/10/teacher-5499125_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Учитель Биологии</strong>
          <h3 class="mb-0">Петров П.П.</h3>
          <div class="mb-1 text-muted">Стаж: 12 лет</div>
          <p class="mb-auto">Контактный номер: +78216012522</p>
          <p class="card-text mb-auto">Кабинет N15</p>
        </div>
      </div>
    </div>
    <br></br>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2017/05/20/00/29/teacher-2327961_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Учитель Физики</strong>
          <h3 class="mb-0">Игнатов Э.С.</h3>
          <div class="mb-1 text-muted">Стаж: 18 лет</div>
          <p class="mb-auto">Контактный номер: +71252289032</p>
          <p class="card-text mb-auto">Кабинет N16</p>
        </div>
      </div>
    </div><div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2019/09/27/04/45/social-entrepreneur-4507505_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
           <strong class="d-inline-block mb-2 text-success">Учитель Географии</strong>
          <h3 class="mb-0">Михайлов М.Н.</h3>
          <div class="mb-1 text-muted">Стаж: 18 лет</div>
          <p class="mb-auto">Контактный номер: +74215289032</p>
          <p class="card-text mb-auto">Кабинет N19</p>
        </div>
      </div>
    </div>
    <br></br>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2020/02/03/09/48/alexis-karpouzos-4815216_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
             <strong class="d-inline-block mb-2 text-success">Учитель Физической культуры</strong>
          <h3 class="mb-0">Семенов С.С.</h3>
          <div class="mb-1 text-muted">Стаж: 20 лет</div>
          <p class="mb-auto">Контактный номер: +79872241552</p>
          <p class="card-text mb-auto">Кабинет N3</p>
        </div>
      </div>
    </div><div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
           <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" width="200" height="250" src="https://cdn.pixabay.com/photo/2016/05/08/20/32/secretary-1379839_960_720.jpg" alt="">
                        </div>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
           <strong class="d-inline-block mb-2 text-success">Учитель Русского языка и Литературы</strong>
          <h3 class="mb-0">Петрова А.А.</h3>
          <div class="mb-1 text-muted">Стаж: 15 лет</div>
          <p class="mb-auto">Контактный номер: +72652289775</p>
          <p class="card-text mb-auto">Кабинет N5</p>
        </div>
      </div>
    </div>
  </div>